.productTile {
  margin: 0 0 16px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);

  @media screen and (min-width: 768px) {
    margin: 0 0 16px;
    transition: .25s box-shadow;

    &:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    }
  }
}
